body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1, h3 {
    text-align: center;
}

#choropleth_map, #line_chart {
    width: 80%; 
    max-width: 800px;
    margin-bottom: 20px;
}
